.banner{
    background-image: url("../img/bad.jpg");
    padding: 25%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

.fondoboton{
    background-color: red;
}

.container-fluid{
    color: blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}